{{!-- 
      <nav class="navbar navbar-light bg-light" >
        <div class="container-fluid">
           {{#if user}}{{user.first_name}}{{else}}Account{{/if}}
          <a class="navbar-brand" href="/logout" style="color: white;">Logout
          </a>

          
        </div>
      </nav> --}}

      {{!-- 
      <nav class="navbar navbar-light bg-light" >
        <div class="container-fluid">
           {{#if user}}{{user.first_name}}{{else}}Account{{/if}}
          <a class="navbar-brand" href="/logout" style="color: black;">Logout
          </a>

          
        </div>
      </nav> --}}
  
    <title>TrouFree</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
         {{#if user}}{{user.first_name}}{{else}}Account{{/if}}
          
         <a class="navbar-brand" href="/logout" style="color: white;padding-right">Logout
          </a>
          </div>
        </div>
      </nav>
</body>
</html>